* {
    font-family: 'Share Tech Mono', monospace;
}

#board, .boardInfo {
    
    max-width: 820px;
    margin-left: auto;
    margin-right: auto;
}

#board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);

    
}

#start, .boardInfo {
    font-size: 25px;
    
}

#gameOver {
    display: none;
    text-align: center;
    font-size: 20px;
    background-color: #db2d16;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    
}

.boardInfo {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#start {
    background-color: #1916db;
    border: none;
    color: white;
}

#scoreBoard {
    display: inline-flex;
}

.square {
    aspect-ratio: 1;
}

.emptySquare {
    background-color: #46c457;
}

.snakeSquare {
    background-color: #2446e0;
    border: 1px solid #000;
}

.foodSquare {
    background-color: #f53933;
    border: 1px solid #000;
}